@keyframes slideIn {
  0% {
    transform: translateX(-90%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slideInAnimation {
  animation: slideIn ease-in 0.5s;
}

.slideInAnimationDelay {
  animation: slideIn ease-in 0.5s;
}
